@import '../../assets/styles/mixins.scss';

.wrapper {
  @include flexbox(initial, initial);
  flex-direction: column;
  margin: auto;
  max-width: 1100px;
  height: 100%;
}

.box {
  margin-top: 40px;
}

.search_wrapper {
  @include flexbox(center, center);
  padding-top: 10px;
  width: 100%;
}